<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle dropbtn fw-bold fs-5" routerLink="/mens" id="Mens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    MENS
  </a>
  <ul class="dropdown-menu" aria-labelledby="Mens">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <li><a class="dropdown-item fw-bold fs-6" href="#">Featured</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6"  href="#">NEW ARRIVALS</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">VANS X STRANGER THINGS</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">WIDES</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">BACK TO SCHOOL</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">BACKPACK GUIDE</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">PANTS GUIDE</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">MENS SALE</a></li>
        </div>  
        <div class="col-2">
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shoes</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6"  href="#">NEW ARRIVALS</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shop By Style</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Classics</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Skateboarding</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">BMX</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Surf & Sandals</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Sale</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shop All Shoes</a></li>
        </div>
        <div class="col-2">
          <li><a class="dropdown-item fw-bold fs-6" href="#">Clothing</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6"  href="#">NEW ARRIVALS</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">T-Shirts & Tanks</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shirts & Flannels</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Sale</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shorts & Boardshorts</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Pants & Sweatpants</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Sale</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shop All Clothing</a></li>
        </div>
        <div class="col-2">
          <li><a class="dropdown-item fw-bold fs-6" href="#">Accessories</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6"  href="#">NEW ARRIVALS</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Hats & Beanies</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Bags & Backpacks</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Socks</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Sunglasses</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Keychains & Stickers</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Wallets & Belts</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Laces & Shoecare</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Sale</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item fw-bold fs-6" href="#">Shop all Accessories</a></li>
          <li><hr class="dropdown-divider"></li>
        </div>
        <div class="col-2"></div>
     </div>
     <div class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-dark justify-content-center">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-light fs-6" href="#">FREE SHIPPING AND RETURNS!</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light fs-6 text-decoration-underline" href="#">DETAILS</a>
              </li>
          </ul>
      </nav>
  </div>
  </ul>
</li>
