<div class="">
    <div class="card border-0 " style="width: 30rem;">
        <img src={{img}} class="card-img-top" alt="Not Printing Card">
        <div class="card-body justify-content-center">
          <h5 class="card-title text-uppercase text-center fw-bold fs-2">{{title}}</h5>
          <h5 class="card-title text-uppercase text-center fw-bold fs-2">{{title2}}</h5>
        </div>  
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
                <button href="#" class="button fw-bold text-uppercase position-absolute">{{txtB}}</button>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</div>
