.button{
    background-color: transparent;
    color: black;
    border-color: black;
    border-radius: 0;
    padding: 15px 32px;
    text-align: center;
}

.button:hover {
    color: #d51920;
    background-color: transparent;
    border-color: #d51920;
}
