<nav class="navbar-expand-lg">
    <div class="flex navbar shadow sticky-top bg-white justify-content-start">
        <a class="ms-5 navbar-brand text-uppercase text-center fw-bold">{{title}}</a>
        <nav class="justify-content-start flex">
            <ul class="navbar-nav">
                <ul class="button text-uppercase text-center fw-bold text-dark">{{txt1}}</ul>
                <span class="separator ms-3 text-dark">/</span>
                <ul class="button text-uppercase text-center fw-bold text-dark">{{txt2}}</ul>
                <span class="separator ms-3 text-dark">/</span>
                <ul class="button text-uppercase text-center fw-bold text-dark">{{txt3}}</ul>
                <span class="separator ms-3 text-dark">/</span>
                <ul class="button text-uppercase text-center fw-bold text-dark">{{txt4}}</ul>
            </ul>
        </nav>
    </div>
</nav>